{% extends 'base.html'%}
{% load static%}

{% block title %}基线检查记录{% endblock %}
{% block css %}
     <link rel="stylesheet" href="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
<style>
table{
	table-layout:fixed;
}	
td{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
</style>
{% endblock %}
{% block content %}
<div class="box">

  <div class="box-header with-border">

     <h3 class="box-title">主机基础信息</h3>

     <div class="box-tools pull-right">
       <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
         <i class="fa fa-minus"></i></button>
       <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
         <i class="fa fa-times"></i></button>
     </div>
   </div>
   <div class="box-body">
     <table class="table table-bordered table-striped dataTable">
       <tr>
         <td>主机IP: {{host.ip}}</td>
         <td>主机MAC: {{host.macaddr}}</td>
       </tr>
       <tr>
         <td>系统版本: {{host.osversion}}</td>
         <td>内核版本: {{host.kernelversion }}</td>
       </tr>
       <tr>
        <td>时间: {{host.time}}</td>
        <td></td>
      </tr>
     </table>
   </div>
</div>
<!-- ------------------------------------------- -->
   <!-- Main content -->
   <section class="content">

     <!-- 检查结果 -->
     
     <div class="row">
       <!-- 初始安装规范 -->
 
       <div class="box">

         <div class="box-header with-border">

             <h3 class="box-title">基线检查结果</h3>

             <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                 <i class="fa fa-minus"></i></button>
               <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                 <i class="fa fa-times"></i></button>
             </div>
           </div>
           <div class="box-body">
           
            <table id="host_table" class="table table-responsive table-bordered table-striped">
              <thead>
                  <tr>
                      <th>序号</th>
                      <th>检查项</th>
                      <th>级别</th>
                      <th>调整要求</th>
                      <th>检查项说明</th>
                      <th>标准值</th>
                      <th>检查情况</th>
                      <th>符合性</th>
                  </tr>
              </thead>
              <tbody>
                <tr>
         
                  <td>1</td>
                  <td>检查是否以设置口令生存周期</td>
                  <td>重要</td>
                  <td>建议调整</td>
                  <td>长期不修改密码会增加密码暴露风险，除入域服务器或服务器超管账号分段管理无需配置外，应对服务器密码最长使用期限进行限制。此检查项建议调整</td>
                  <td>&lt;=90</td>
                  <td>{{ check_info.0 }}</td>
                  <td>{{ check_result.0 }}</td>
              </tr>
                <tr>
                     
                  <td>2</td>
                  <td>检查是否设置口令最小长度</td>
                  <td>重要</td>
                  <td>建议调整</td>
                  <td>密码长度过短会增加密码被爆破风险，按照企业密码管理要求与等级保护标准，口令长度最小值应为8位。此检查项建议调整</td>
                  <td>&gt;=8</td>
                  <td>{{ check_info.1 }}</td>
                  <td>{{ check_result.1 }}</td>
              </tr>
                <tr>
                <td>3</td>
                  <td>检查是否设置口令过期警告天数</td>
                  <td>重要</td>
                  <td>建议调整</td>
                  <td>除入域服务器超管账号分段管理无需配置外，应配置密码过期提醒策略防止密码过期无法登陆。此检查项建议调整</td>
                  <td>&gt;=30</td>
                  <td>{{ check_info.2 }}</td>
                  <td>{{ check_result.2 }}</td>
              </tr>
                <tr>
                <td>4</td>
                  <td>检查设备密码复杂度策略</td>
                  <td>重要</td>
                  <td>建议调整</td>
                  <td>密码复杂度过低会增加密码被爆破风险，按照企业密码管理要求与等级保护标准，密码复杂度应包含特殊字符、大小写字母。此检查项建议调整</td>
                  <td>至少有1个大写字母、1个小写字母、1个数字、1个特殊字符</td>
                  <td>{{ check_info.3 }}</td>
                  <td>{{ check_result.3 }}</td>
              </tr>
                <tr>
                <td>5</td>
                  <td>检查是否存在空口令账户</td>
                  <td>重要</td>
                  <td>建议调整</td>
                  <td>由于空口令会让攻击者不需要口令进入系统，存在较大风险。此检查项建议调整</td>
                  <td>不存在空口令账户</td>
                  <td>{{ check_info.4 }}</td>
                  <td>{{ check_result.4 }}</td>
              </tr>
                <tr>
                <td>6</td>
                  <td>检查是否设置除root之外UID为0的用户</td>
                  <td>一般</td>
                  <td>建议调整</td>
                  <td>不可设置除root之外，第二个具有root权限的账户。此检查项建议调整</td>
                  <td>root</td>
                  <td>{{ check_info.5 }}</td>
                  <td>{{ check_result.5 }}</td>
              </tr>
                <tr>
                <td>7</td>
                  <td>检查用户umask设置</td>
                  <td>一般</td>
                  <td>建议调整</td>
                  <td>umask配置后，创建系统用户时所赋予的权限为最高权限减去umask设置的权限，保证所创建用户不可创建其他权限用户。此检查项建议调整</td>
                  <td>umask077</td>
                  <td>{{ check_info.6 }}</td>
                  <td>{{ check_result.6 }}</td>
              </tr>
                <tr>
                <td>8</td>
                  <td>检查/etc/csh.cshrc中umask设置</td>
                  <td>一般</td>
                  <td>建议调整</td>
                  <td>详情参考父项3.1</td>
                  <td>077/027</td>
                  <td>{{ check_info.7 }}</td>
                  <td>{{ check_result.7 }}</td>
              </tr>
                <tr>
                <td>9</td>
                <td>检查/etc/bashrc文件中umask设置</td>
                <td>一般</td>
                <td>建议调整</td>
                <td>详情参考父项3.1</td>
                <td>077/027</td>
                  <td>{{ check_info.8 }}</td>
                  <td>{{ check_result.8 }}</td>
              </tr>
                <tr>
                <td>10</td>
                <td>检查/etc/profile文件中umask设置</td>
                <td>一般</td>
                <td>建议调整</td>
                <td>详情参考父项3.1</td>
                <td>077/027</td>
                  <td>{{ check_info.9 }}</td>
                  <td>{{ check_result.9 }}</td>
              </tr>
                <tr>
                <td>11</td>
                <td>检查重要目录或文件权限设置</td>
                <td>一般</td>
                <td>自行判断</td>
                <td>需检查重要目录或文件权限设置是否合规，保障系统安全性，此检查项建议系统管理员根据系统情况自行判断</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.10 }}</td>
                  <td>{{ check_result.10 }}</td>
              </tr>
                <tr>
                <td>12</td>
                <td>检查/etc/xinetd.conf文件权限</td>
                <td>一般</td>
                <td>自行判断</td>
                <td>参考父项3.2</td>
                <td>&gt;=600</td>
                  <td>{{ check_info.11 }}</td>
                  <td>{{ check_result.11 }}</td>
              </tr>
                <tr>
                <td>13</td>
                <td>检查/etc/group文件权限</td>
                <td>一般</td>
                <td>自行判断</td>
                <td>参考父项3.2</td>
                <td>&gt;=644</td>
                  <td>{{ check_info.12 }}</td>
                  <td>{{ check_result.12 }}</td>
              </tr>
                <tr>
                <td>14</td>
                <td>检查/etc/shadow文件权限</td>
                <td>一般</td>
                <td>自行判断</td>
                <td>参考父项3.2</td>
                <td>&gt;=400</td>
                  <td>{{ check_info.13 }}</td>
                  <td>{{ check_result.13 }}</td>
              </tr>
                <tr>
                <td>15</td>
                <td>检查/etc/services文件权限</td>
                <td>一般</td>
                <td>自行判断</td>
                <td>参考父项3.2</td>
                <td>&gt;=644</td>
                  <td>{{ check_info.14 }}</td>
                  <td>{{ check_result.14 }}</td>
              </tr>
                <tr>
                <td>16</td>
                <td>检查/etc/security目录权限</td>
                <td>一般</td>
                <td>自行判断</td>
                <td>参考父项3.2</td>
                <td>&gt;=600</td>
                  <td>{{ check_info.15 }}</td>
                  <td>{{ check_result.15 }}</td>
              </tr>
                <tr>
                <td>17</td>
                <td>检查/etc/passwd文件权限</td>
                <td>一般</td>
                <td>自行判断</td>
                <td>参考父项3.2</td>
                <td>&gt;=644</td>
                  <td>{{ check_info.16 }}</td>
                  <td>{{ check_result.16 }}</td>
              </tr>
                <tr>
                <td>18</td>    
                <td>检查/etc/rc6.d目录权限</td>
                <td>一般</td>
                <td>自行判断</td>
                <td>参考父项3.2</td>
                <td>&gt;=750</td>
                  <td>{{ check_info.17 }}</td>
                  <td>{{ check_result.17 }}</td>
              </tr>
                <tr>
                <td>19</td>    
                <td>检查/etc/rc0.d目录权限</td>
                <td>一般</td>
                <td>自行判断</td>
                <td>参考父项3.2</td>
                <td>&gt;=750</td>
                  <td>{{ check_info.18 }}</td>
                  <td>{{ check_result.18 }}</td>
              </tr>
                <tr>
                <td>20</td>    
                <td>检查/etc/rc1.d目录权限</td>
                <td>一般</td>
                <td>自行判断</td>
                <td>参考父项3.2</td>
                <td>&gt;=750</td>
                  <td>{{ check_info.19 }}</td>
                  <td>{{ check_result.19 }}</td>
              </tr>
                <tr>
                <td>21</td>   
                <td>检查/etc/rc2.d目录权限</td>
                <td>一般</td>
                <td>自行判断</td>
                <td>参考父项3.2</td>
                <td>&gt;=750</td>
                  <td>{{ check_info.20 }}</td>
                  <td>{{ check_result.20 }}</td>
              </tr>
                <tr>
                <td>22</td>
                <td>检查/etc目录权限</td>
                <td>一般</td>
                <td>自行判断</td>
                <td>参考父项3.2</td>
                <td>&gt;=750</td>
                  <td>{{ check_info.21 }}</td>
                  <td>{{ check_result.21 }}</td>
              </tr>
                <tr>
                <td>23</td>
                <td>检查/etc/rc4.d目录权限</td>
                <td>一般</td>
                <td>自行判断</td>
                <td>参考父项3.2</td>
                <td>&gt;=750</td>
                  <td>{{ check_info.22 }}</td>
                  <td>{{ check_result.22 }}</td>
              </tr>
                <tr>
                <td>24</td>
                <td>检查/etc/rc5.d目录权限</td>
                <td>一般</td>
                <td>自行判断</td>
                <td>参考父项3.2</td>
                <td>&gt;=750</td>
                  <td>{{ check_info.23 }}</td>
                  <td>{{ check_result.23 }}</td>
              </tr>
                <tr>
                <td>25</td>
                <td>检查/etc/rc3.d目录权限</td>
                <td>一般</td>
                <td>自行判断</td>
                <td>参考父项3.2</td>
                <td>&gt;=750</td>
                  <td>{{ check_info.24 }}</td>
                  <td>{{ check_result.24 }}</td>
              </tr>
                <tr>
                <td>26</td>
                <td>检查/etc/rc.d/init.d目录权限</td>
                <td>一般</td>
                <td>自行判断</td>
                <td>参考父项3.2</td>
                <td>&gt;=750</td>
                  <td>{{ check_info.25 }}</td>
                  <td>{{ check_result.25 }}</td>
              </tr>
                <tr>
                <td>27</td>
                <td>检查/tmp目录权限</td>
                <td>一般</td>
                <td>自行判断</td>
                <td>参考父项3.2</td>
                <td>&gt;=750</td>
                  <td>{{ check_info.26 }}</td>
                  <td>{{ check_result.26 }}</td>
              </tr>
                <tr>
                <td>28</td>
                <td>检查/etc/grub.conf文件权限</td>
                <td>一般</td>
                <td>自行判断</td>
                <td>参考父项3.2</td>
                <td>&gt;=600</td>
                  <td>{{ check_info.27 }}</td>
                  <td>{{ check_result.27 }}</td>
              </tr>
                <tr>
                <td>29</td>
                <td>检查/etc/grub/grub.conf文件权限</td>
                <td>一般</td>
                <td>自行判断</td>
                <td>参考父项3.2</td>
                <td>&gt;=600</td>
                  <td>{{ check_info.28 }}</td>
                  <td>{{ check_result.28 }}</td>
              </tr>
                <tr>
                <td>30</td>
                <td>检查/etc/lilo.conf文件权限</td>
                <td>一般</td>
                <td>自行判断</td>
                <td>参考父项3.2</td>
                <td>&gt;=600</td>
                  <td>{{ check_info.29 }}</td>
                  <td>{{ check_result.29 }}</td>
              </tr>
                <tr>
                <td>31</td>
                <td>检查重要文件属性设置</td>
                <td>一般</td>
                <td>建议调整</td>
                <td>需检查重要目录或文件属性设置是否合规，保障系统安全性。此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.30 }}</td>
                  <td>{{ check_result.30 }}</td>
              </tr>
                <tr>
                <td>32</td>
                <td>检查/etc/passwd的文件属性</td>
                <td>一般</td>
                <td>建议调整</td>
                <td>参考父项3.3</td>
                <td>i</td>
                  <td>{{ check_info.31 }}</td>
                  <td>{{ check_result.31 }}</td>
              </tr>
                <tr>
                <td>33</td>
                <td>检查/etc/shadow的文件属性</td>
                <td>一般</td>
                <td>建议调整</td>
                <td>参考父项3.3</td>
                <td>i</td>
                  <td>{{ check_info.32 }}</td>
                  <td>{{ check_result.32 }}</td>
              </tr>
                <tr>
                <td>34</td>
                <td>检查/etc/group的文件属性</td>
                <td>一般</td>
                <td>建议调整</td>
                <td>参考父项3.3</td>
                <td>i</td>
                  <td>{{ check_info.33 }}</td>
                  <td>{{ check_result.33 }}</td>
              </tr>
                <tr>
                <td>35</td>
                <td>检查/etc/gshadow的文件属性</td>
                <td>一般</td>
                <td>建议调整</td>
                <td>参考父项3.3</td>
                <td>i</td>
                  <td>{{ check_info.34 }}</td>
                  <td>{{ check_result.34 }}</td>
              </tr>
                <tr>
                <td>36</td>
                <td>检查用户目录缺省访问权限设置</td>
                <td>重要</td>
                <td>建议调整</td>
                <td>控制用户缺省访问权限，当在创建新文件或目录时应屏蔽掉新文件或目录不应有的访问允许权限，防止同属于改组的其他用户及别的组的用户修改用户的文件或更高限制。此检查项建议调整</td>
                <td>027</td>
                  <td>{{ check_info.35 }}</td>
                  <td>{{ check_result.35 }}</td>
              </tr>
                <tr>
                <td>37</td>
                <td>检查是否设置SSH登录前警告Banner</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>检查是否设置ssh登陆前的警告Banner信息，警示登陆系统的人员。此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.36 }}</td>
                  <td>{{ check_result.36 }}</td>
              </tr>
                <tr>
                <td>38</td>
                <td>检查是否配置远程日志功能</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>应对远程日至进行筛选与审核。此检查项建议调整</td>
                <td>参考《Linux安全配置基线》对应章节</td>
                  <td>{{ check_info.37 }}</td>
                  <td>{{ check_result.37 }}</td>
              </tr>
                <tr>
                <td>39</td>
                <td>检查安全事件日志配置</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>应对安全时间日志文件进行配置。此检查项建议调整</td>
                <td>参考《Linux安全配置基线》对应章节</td>
                  <td>{{ check_info.38 }}</td>
                  <td>{{ check_result.38 }}</td>
              </tr>
                <tr>
                <td>40</td>
                <td>检查日志文件是否全局可写</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>应配置日志文件非全局可写，保证日至不可篡改。此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.39 }}</td>
                  <td>{{ check_result.39 }}</td>
              </tr>
                <tr>
                <td>41</td>
                <td>检查/var/log/cron</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>参考父项4.4</td>
                <td>&gt;=755</td>
                  <td>{{ check_info.40 }}</td>
                  <td>{{ check_result.40 }}</td>
              </tr>
                <tr>
                <td>42</td>
                <td>检查/var/log/secure</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>参考父项4.4</td>
                <td>&gt;=755</td>
                  <td>{{ check_info.41 }}</td>
                  <td>{{ check_result.41 }}</td>
              </tr>
                <tr>
                <td>43</td>
                <td>检查/var/log/messages</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>参考父项4.4</td>
                <td>&gt;=755</td>
                  <td>{{ check_info.42 }}</td>
                  <td>{{ check_result.42 }}</td>
              </tr>
                <tr>
                <td>44</td>
                <td>检查/var/log/boot.log</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>参考父项4.4</td>
                <td>&gt;=755</td>
                  <td>{{ check_info.43 }}</td>
                  <td>{{ check_result.43 }}</td>
              </tr>
                <tr>
                <td>45</td>
                <td>检查/var/log/mail</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>参考父项4.4</td>
                <td>&gt;=755</td>
                  <td>{{ check_info.44 }}</td>
                  <td>{{ check_result.44 }}</td>
              </tr>
                <tr>
                <td>46</td>
                <td>检查/var/log/localmessages</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>参考父项4.4</td>
                <td>&gt;=755</td>
                  <td>{{ check_info.45 }}</td>
                  <td>{{ check_result.45 }}</td>
              </tr>
                <tr>
                <td>47</td>
                <td>检查/var/log/spooler</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>参考父项4.4</td>
                <td>&gt;=755</td>
                  <td>{{ check_info.46 }}</td>
                  <td>{{ check_result.46 }}</td>
              </tr>
                <tr>
                <td>48</td>
                <td>检查/var/log/maillog</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>参考父项4.4</td>
                <td>&gt;=755</td>
                  <td>{{ check_info.47 }}</td>
                  <td>{{ check_result.47 }}</td>
              </tr>
                <tr>
                <td>49</td>
                <td>检查是否对登录进行日志记录</td>
                <td>重要</td>
                <td>建议调整</td>
                <td>应对登录时间日志文件进行配置，保证日志的完整性。此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.48 }}</td>
                  <td>{{ check_result.48 }}</td>
              </tr>
                <tr>
                <td>50</td>
                <td>检查是否配置su命令使用情况记录</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>应配置su命令使用情况记录，保证高权限命令可审计。此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.49 }}</td>
                  <td>{{ check_result.49 }}</td>
              </tr>
                <tr>
                <td>51</td>
                <td>检查系统openssh安全配置</td>
                <td>一般</td>
                <td>建议调整</td>
                <td>openssh是使用加密的远程登录实现，可以有效保护登录及数据的安全。此检查项建议调整</td>
                <td>2</td>
                  <td>{{ check_info.50 }}</td>
                  <td>{{ check_result.50 }}</td>
              </tr>
                <tr>
                <td>52</td>
                <td>检查是否修改SNMP默认团体字</td>
                <td>一般</td>
                <td>建议调整</td>
                <td>snmp的默认团体字存在安全漏洞，容易导致服务器信息泄漏。此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.51 }}</td>
                  <td>{{ check_result.51 }}</td>
              </tr>
                <tr>
                <td>53</td>
                <td>检查使用ip协议远程维护的设备是否配置ssh协议，禁用telnet协议</td>
                <td>重要</td>
                <td>建议调整</td>
                <td>Telnet协议名文传输，安全性低，容易被嗅探泄漏信息。此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.52 }}</td>
                  <td>{{ check_result.52 }}</td>
              </tr>
                <tr>
                <td>54</td>
                <td>检查是否禁止root用户登录FTP</td>
                <td>一般</td>
                <td>建议调整</td>
                <td>由于root用户权限过大，容易导致系统文件误删除。此检查项建议调整</td>
                <td></td>
                  <td>{{ check_info.53 }}</td>
                  <td>{{ check_result.53 }}</td>
              </tr>
                <tr>
                <td>55</td>
                <td>检查是否禁止匿名用户登录FTP</td>
                <td>重要</td>
                <td>建议调整</td>
                <td>由于匿名用户对被黑客用来进入ftp，导致系统文件的保密性和完整性遭到破坏。此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.54 }}</td>
                  <td>{{ check_result.54 }}</td>
              </tr>
                <tr>
                <td>56</td>
                <td>检查是否设置命令行界面超时退出</td>
                <td>重要</td>
                <td>自行判断</td>
                <td>根据等保要求，建议设置超时时间不大于600s，此检查项建议系统管理员根据系统情况自行判断</td>
                <td>&lt;=600</td>
                  <td>{{ check_info.55 }}</td>
                  <td>{{ check_result.55 }}</td>
              </tr>
                <tr>
                <td>57</td>
                <td>检查系统coredump设置</td>
                <td>一般</td>
                <td>建议调整</td>
                <td>需要检查系统cire dump设置，防止内存状态信息暴露，此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.56 }}</td>
                  <td>{{ check_result.56 }}</td>
              </tr>
                <tr>
                <td>58</td>
                <td>检查历史命令设置</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>根据等保要求，需保证历史命令文件HISTSIZE的值修改为5，此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.57 }}</td>
                  <td>{{ check_result.57 }}</td>
              </tr>
                <tr>
                <td>59</td>
                <td>检查是否使用PAM认证模块禁止wheel组之外的用户su为root</td>
                <td>重要</td>
                <td>建议调整</td>
                <td>禁止wheel组外用户使用su命令，提高操作系统的完整性。此检查项建议调整</td>
                <td>s参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.58 }}</td>
                  <td>{{ check_result.58 }}</td>
              </tr>
                <tr>
                <td>60</td>
                <td>检查是否对系统账户进行登录限制</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>对系统账户登录进行限制，禁止账户交互式登录。此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.59 }}</td>
                  <td>{{ check_result.59 }}</td>
              </tr>
                <tr>
                <td>61</td>
                <td>检查密码重复使用次数限制</td>
                <td>一般</td>
                <td>建议调整</td>
                <td>检测密码重复使用次数，预防密码重复使用被爆破的风险。此检查项建议调整</td>
                <td>&gt;=5</td>
                  <td>{{ check_info.60 }}</td>
                  <td>{{ check_result.60 }}</td>
              </tr>
                <tr>
                <td>62</td>
                <td>检查账户认证失败次数限制</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>应配置密码失败次数限制，预防密码被爆破的风险。此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.61 }}</td>
                  <td>{{ check_result.61 }}</td>
              </tr>
                <tr>
                <td>63</td>
                <td>检查是否关闭ip伪装和绑定多ip功能</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>应关闭此条检查项配置内容，使系统操作责任到人。此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.62 }}</td>
                  <td>{{ check_result.62 }}</td>
              </tr>
                <tr>
                <td>64</td>
                <td>检查是否关闭多ip绑定</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>参考父项6.9</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.63 }}</td>
                  <td>{{ check_result.63 }}</td>
              </tr>
                <tr>
                <td>65</td>
                <td>检查是否限制远程登录IP范围</td>
                <td>可选</td>
                <td>自行判断</td>
                <td>应配置相关设置防止未知ip远程登录，此检查项建议系统管理员根据系统情况自行判断</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.64 }}</td>
                  <td>{{ check_result.64 }}</td>
              </tr>
                <tr>
                <td>66</td>
                <td>检查别名文件/etc/aliases</td>
                <td>可选</td>
                <td>自行判断</td>
                <td>/etc/aliases是linux系统下的一种配置文件，作用是将使用者名称进行转换，此检查项建议系统管理员根据系统情况自行判断</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.65 }}</td>
                  <td>{{ check_result.65 }}</td>
              </tr>
                <tr>
                <td>67</td>
                <td>检查拥有suid和sgid权限的文件</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>suid的管理上有漏洞，易被黑客利用suid来踢拳，来放后门控制linux主机。此检查项建议调整</td>
                <td></td>
                  <td>{{ check_info.66 }}</td>
                  <td>{{ check_result.66 }}</td>
              </tr>
                <tr>
                <td>68</td>
                <td>检查是否配置定时自动屏幕锁定(适用于图形化界面)</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>对具有图形化界面的设备应配置定时自动屏幕锁定。此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.67 }}</td>
                  <td>{{ check_result.67 }}</td>
              </tr>
                <tr>
                <td>69</td>
                <td>检查系统内核参数配置</td>
                <td>一般</td>
                <td>建议调整</td>
                <td>该项配置主要为了缓解拒绝服务攻击。此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.68 }}</td>
                  <td>{{ check_result.68 }}</td>
              </tr>
                <tr>
                <td>70</td>
                <td>检查是否按组进行账号管理</td>
                <td>可选</td>
                <td>自行判断</td>
                <td>该项配置主要偏向于对系统用户的管理，如账户已分组管理，该检查项可以跳过。此检查项建议系统管理员根据系统情况自行判断</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.69 }}</td>
                  <td>{{ check_result.69 }}</td>
              </tr>
                <tr>
                <td>71</td>
                <td>检查是否按用户分配账号</td>
                <td>可选</td>
                <td>自行判断</td>
                <td>该项配置主要偏向于对系统用户的管理，如有未知账号，清及时调整与关闭。此检查项建议系统管理员根据系统情况自行判断</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.70 }}</td>
                  <td>{{ check_result.70 }}</td>
              </tr>
                <tr>
                <td>72</td>
                <td>检查root用户的path环境变量</td>
                <td>一般</td>
                <td>建议调整</td>
                <td>如果将（.和..）这来两者写入root的环境变量，执行脚本时，输入脚本名字后，系统会在当前的目录下执行该脚本，如脚本有危险命令，将会对系统造成较大影响。此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.71 }}</td>
                  <td>{{ check_result.71 }}</td>
              </tr>
                <tr>
                <td>73</td>
                <td>检查系统是否禁用Ctrl+Alt+Delete组合键</td>
                <td>一般</td>
                <td>建议调整</td>
                <td>linux操作系统只要按下Ctrl+Alt+Del快捷键，系统有时会重启。此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.72 }}</td>
                  <td>{{ check_result.72 }}</td>
              </tr>
                <tr>
                <td>74</td>
                <td>检查系统是否关闭系统信任机制</td>
                <td>重要</td>
                <td>建议调整</td>
                <td>如不关闭系统信任机制，在信任地址列表中的来访用户可不用提供口令就在本地计算机上执行远程命令。此检查项建议调整</td>
                <td>0</td>
                  <td>{{ check_info.73 }}</td>
                  <td>{{ check_result.73 }}</td>
              </tr>
                <tr>
                <td>75</td>
                <td>检查是否存在equiv文件</td>
                <td>重要</td>
                <td>建议调整</td>
                <td>参考父项6.19</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.74 }}</td>
                  <td>{{ check_result.74 }}</td>
              </tr>
                <tr>
                <td>76</td>
                <td>检查是否存在rhosts文件</td>
                <td>重要</td>
                <td>建议调整</td>
                <td>参考父项6.19</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.75 }}</td>
                  <td>{{ check_result.75 }}</td>
              </tr>
                <tr>
                <td>77</td>
                <td>检查磁盘空间占用率</td>
                <td>可选</td>
                <td>自行判断</td>
                <td>磁盘动态分区空间不足，可能会导致系统卡慢与崩溃。此检查项建议系统管理员根据系统情况自行判断</td>
                <td>&lt;=80</td>
                  <td>{{ check_info.76 }}</td>
                  <td>{{ check_result.76 }}</td>
              </tr>
                <tr>
                <td>78</td>
                <td>检查是否删除了潜在危险文件</td>
                <td>重要</td>
                <td>建议调整</td>
                <td>危险文件为删除可能导致用户无口令登录系统，存在较大风险。此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.77 }}</td>
                  <td>{{ check_result.77 }}</td>
              </tr>
                <tr>
                <td>79</td>
                <td>检查是否删除与设备运行，维护等工作无关的账号</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>该项配置主要偏向于对系统用户的管理，如有未知账号，请及时关闭。此项建议整改</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.78 }}</td>
                  <td>{{ check_result.78 }}</td>
              </tr>
                <tr>
                <td>80</td>
                <td>检查是否配置用户所需最小权限</td>
                <td>一般</td>
                <td>建议调整</td>
                <td>权限配置应为满足使用场景的最小化权限。此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.79 }}</td>
                  <td>{{ check_result.79 }}</td>
              </tr>
                <tr>
                <td>81</td>
                <td>检查是否关闭数据包转发功能</td>
                <td>可选</td>
                <td>自行判断</td>
                <td>Linux系统默认是禁止数据包转发的，如非系统需要，请关闭该功能。此检查项建议系统管理员根据系统情况自行判断</td>
                <td>0</td>
                  <td>{{ check_info.80 }}</td>
                  <td>{{ check_result.80 }}</td>
              </tr>
                <tr>
                <td>82</td>
                <td>检查是否关闭不必要的服务和端口</td>
                <td>可选</td>
                <td>自行判断</td>
                <td>不必要的服务会消耗系统内存，且存在安全隐患，此检查项建议系统管理员根据系统情况自行判断</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.81 }}</td>
                  <td>{{ check_result.81 }}</td>
              </tr>
                <tr>
                <td>83</td>
                <td>检查是否使用NTP(网络时间协议)保持时间同步</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>应保证windows系统的时间同步，提高系统日志的准确性。此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.82 }}</td>
                  <td>{{ check_result.82 }}</td>
              </tr>
                <tr>
                <td>84</td>
                <td>检查NFS(网络文件系统)服务配置</td>
                <td>可选</td>
                <td>自行判断</td>
                <td>如果需要NFS服务，需要限制能够访问NFS服务的IP范围，如果没有必要，需要停止NFS服务。此检查项建议系统管理员根据系统情况自行判断</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.83 }}</td>
                  <td>{{ check_result.83 }}</td>
              </tr>
                <tr>
                <td>85</td>
                <td>检查是否安装OS补丁</td>
                <td>可选</td>
                <td>自行判断</td>
                <td>及时安装操作系统补丁保证系统稳定性，此检查项建议系统管理员根据系统情况自行判断</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.84 }}</td>
                  <td>{{ check_result.84 }}</td>
              </tr>
                <tr>
                <td>86</td>
                <td>检查是否设置SSH成功登录后Banner</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>检查是否设置ssh成功登录后的Banner信息，提示登录系统的人员。此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.85 }}</td>
                  <td>{{ check_result.85 }}</td>
              </tr>
                <tr>
                <td>87</td>
                <td>检查FTP用户上传的文件所具有的权限</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>限制FTP用户登录后上传文件的属性，保证同组用户、其他用户不得有写入权限。此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应要求</td>
                  <td>{{ check_info.86 }}</td>
                  <td>{{ check_result.86 }}</td>
              </tr>
                <tr>
                <td>88</td>
                <td>检查FTPbanner设置</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>检查是否设置ftp成功登录后的Banner信息，提示登录系统人员。此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.87 }}</td>
                  <td>{{ check_result.87 }}</td>
              </tr>
                <tr>
                <td>89</td>
                <td>检查/usr/bin/目录下可执行文件的拥有者属性</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>可执行文件拥有s属性在运行时可所以获得拥有者的权限，所以为了安全需要，需要作出修改。此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.88 }}</td>
                  <td>{{ check_result.88 }}</td>
              </tr>
                <tr>
                <td>90</td>
                <td>检查Telnetbanner设置</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>检查是否设置telnet成功登录后的Banner信息，提示登录系统的人员。此检查项建议调整</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.89 }}</td>
                  <td>{{ check_result.89 }}</td>
              </tr>
                <tr>
                <td>91</td>
                <td>检查是否限制FTP用户登录后能访问的目录</td>
                <td>可选</td>
                <td>自行判断</td>
                <td>限制FTP用户登录后能访问的目录，防止机密文件非授权访问，此检查项建议系统管理员根据系统情况自行判断</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.90 }}</td>
                  <td>{{ check_result.90 }}</td>
              </tr>
                <tr>
                <td>92</td>
                <td>检查是否关闭不必要的服务和端口</td>
                <td>重要</td>
                <td>自行判断</td>
                <td>不必要的端口和服务会扩大系统的被攻击面，此检查项建议系统管理员根据系统情况自行判断</td>
                <td>参考《Linux系统安全配置基线》对应章节</td>
                  <td>{{ check_info.91 }}</td>
                  <td>{{ check_result.91 }}</td>
              </tr>
                <tr>
                <td>93</td>
                <td>检查内核版本是否处于CVE-2021-43267漏洞影响范围</td>
                <td>可选</td>
                <td>建议调整</td>
                <td>CVE-2021-43267漏洞是Linux内核TIPC模块中的一个堆溢出漏洞，攻击者利用该漏洞可以实现本地或远程代码执行漏洞</td>
                <td>5.10-rc1&lt;Linux kernel &lt;5.14.16</td>
                  <td>{{ check_info.92 }}</td>
                  <td>{{ check_result.92 }}</td>
              </tr>
              
              
                
              </tbody >
              
          </table>
           </div>
       </div>
     </div> 
   </section>
{% endblock %}

{% block script %}
<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script>
$(function () {
        $('#host_table').DataTable({
          "paging": true,       <!-- 允许分页 -->
          "lengthChange": true, <!-- 允许改变每页显示的行数 -->
          "searching": true,    <!-- 允许内容搜索 -->
          "ordering": true,     <!-- 允许排序 -->
          "info": true,         <!-- 显示信息 -->
          "autoWidth": false    <!-- 固定宽度 -->
        });
      });

</script>
{% endblock %}